﻿@model InimesedRollidOsakonnad.Models.Person

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>

    </dl>
</div>

<h2>Tal on sellised rollid:</h2>
<ol>
@foreach(var x in Model.UserInRoles)
{
    <li> @Html.ActionLink(("- "+x.Role.RoleName), "RemoveRole", new { id = Model.Id, roleid = x.RoleId }) </li>
}
    </ol>
<h2>Neid rolle tal ei ole:</h2>
<ol>
    @foreach(InimesedRollidOsakonnad.Models.Role x in ViewBag.OtherRoles)
    {
        @*<li> @Html.ActionLink(("+ "+x.RoleName), "AddRole", new { id = Model.Id, roleid = x.Id }) </li>*@
          <li> @Html.ActionLink("+ "+x.RoleName, "AddRole", new { id = Model.Id, roleid = x.Id }) </li>
    }
</ol>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
