﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/MenuStiil.css" rel="stylesheet" />
</head>
<body>
    <img src="~/Pildid/640px-Scarabaeus_sacer.jpg" height="120" />
    <div class="navbar-brand navbar-fixed-top"> @*class="navbar navbar-inverse navbar-fixed-top">*@
        <div class="container" >
            @*<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>*@
            <div style="float:left"> @*class="navbar-collapse collapse">*@
                <ul id="menu" class="nav">  @*class="nav navbar-nav"">*@
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>
                        <a href="#">Settings</a>
                        <ul>
                            <li>
                                <a href="#">Manage Subject</a>
                                <ul>
                                    <li>@Html.ActionLink("Esimene", "About", "Home")</li>
                                    <li>@Html.ActionLink("Teine", "About", "Home")</li>
                                    <li>@Html.ActionLink("Kolmas", "About", "Home")</li>

                                </ul>
                            </li>
                            <li>@Html.ActionLink("Suur", "About", "Home")</li>
                            <li>@Html.ActionLink("Väike", "About", "Home")</li>
                            <li>@Html.ActionLink("Pisike", "About", "Home")</li>
                        </ul>
                    </li>
                    @if (Request.IsAuthenticated)
                    {
                        // kuidas kontrollida, et kasutaja on autojuht
                        MVCAutentimisega.Models.MartinEntities db = new MVCAutentimisega.Models.MartinEntities();
                        var people = db.People.Where(x => x.Email == User.Identity.Name).SingleOrDefault();
                        if (people != null)
                        {
                            if (people.UserInRoles.Select(x => x.Role.RoleName).Contains("Autojuht"))
                            {
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                            }
                        }
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
