﻿@model IEnumerable<DatePickerDemo3.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Employees", FormMethod.Post))
{
    <p>sündinud alates</p>
    <input type="text" id="alates" name="alates" class="datepicker form-control" value="@ViewBag.alates.ToShortDateString()" onchange="this.form.submit()"/>
    <input type="text" id="kuni" name="kuni" class="datepicker form-control" value="@ViewBag.kuni.ToShortDateString()" onchange="this.form.submit()" />
    @*@Html.Editor("alates", new { type = "date", @class = "datepicker form-control" })
    @Html.Editor("kuni", new { type = "date", @class = "datepicker form-control" })*@

    @*<input type="submit" value="otsi" />*@
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitleOfCourtesy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Extension)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ylemus.LastName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr @(item.TitleOfCourtesy == "Ms." ? "style=background-color:pink" : "")>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleOfCourtesy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ylemus.LastName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID }) |
                @Html.ActionLink("Details", "Details", new { id = item.EmployeeID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeID })
            </td>
        </tr>
    }

</table>
