﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<p>Kell on: @ViewBag.Time</p>
<p>Viimatine: @ViewBag.Who</p>
