﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">

    <h3>Application object - elab üle rakenduse kestmise aja</h3>
    <p>Started: @ViewBag.AppStarted</p>
    <p>Request no @ViewBag.AppRequestNo</p>
    <br />
    <h3>Session object - elab ühe sessiooni ulatuses</h3>
    <p>Started: @ViewBag.SessStarted</p>
    <p>Session number: @ViewBag.SessNr</p>
    <p>Request no @ViewBag.SessRequestNo</p>
    <p>Params: @Request.QueryString</p>
    <p>Param[Name]: @ViewBag.Name</p>
    <p>Cookie[Name]: @ViewBag.PreviousName</p>



</div>