﻿@model IEnumerable<PagingDemo.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    |
    @if (ViewBag.Page > 0)
    {
        <b>
            @Html.ActionLink(" << ", "Index", new { page = 0, sort = ViewBag.Sort, direction = ViewBag.Direction }) |
            @Html.ActionLink(" < ", "Index", new { page = Math.Max(ViewBag.Page - 1, 0), sort = ViewBag.Sort, direction = ViewBag.Direction }) |
        </b>
    }
    @if (ViewBag.Page < ViewBag.Pages)
    {
        <b>
            @Html.ActionLink(" > ", "Index", new { page = Math.Min(ViewBag.Page + 1, ViewBag.Pages), sort = ViewBag.Sort, direction = ViewBag.Direction }) |
            @Html.ActionLink(" >> ", "Index", new { page = ViewBag.Pages, sort = ViewBag.Sort, direction = ViewBag.Direction })
        </b>
    }
    |
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.ProductID)*@
            @Html.ActionLink("ProductID", "Index", new { direction = ((ViewBag.Sort == "ProductId" && ViewBag.Direction == "ascending") ? "descending" : "ascending"), sort = "ProductID"   })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ProductName)*@
            @Html.ActionLink("ProductName", "Index", new { direction = ((ViewBag.Sort == "ProductName" && ViewBag.Direction == "ascending") ? "descending" : "ascending"), sort = "ProductName" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityPerUnit)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.UnitPrice)*@
            @Html.ActionLink("UnitPrice", "Index", new { direction = ((ViewBag.Sort == "UnitPrice" && ViewBag.Direction == "ascending") ? "descending" : "ascending"), sort = "UnitPrice" })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.UnitsInStock)*@
            @Html.ActionLink("UnitsInStock", "Index", new { direction = ((ViewBag.Sort == "UnitsInStock" && ViewBag.Direction == "ascending") ? "descending" : "ascending"), sort = "UnitsInStock" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsOnOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReorderLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discontinued)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityPerUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitsInStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitsOnOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReorderLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discontinued)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
        </td>
    </tr>
    }

</table>
