﻿@model DatePickerDemo3.Models.Category
@using DatePickerDemo3.Models        
            

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>


    </dl>
</div>

@*siia lisan toodete tabeli - kahel moel*@
<h3>Selles kategoorias tooted</h3>
<table>
    <tr>
        <th>@Html.DisplayNameFor(x => x.Products.Single().ProductID)</th>
        <th>@Html.DisplayNameFor(x => x.Products.Single().ProductName)</th>
        <th>@Html.DisplayNameFor(x => x.Products.Single().UnitPrice)</th>

    </tr>
    @foreach (Product p in Model.Products)
    {
    <tr>
        <td>
            <p>@p.ProductID</p>
        </td>
        <td>
            <p>@p.ProductName</p>
        </td>
        <td>
            <p>@p.UnitPrice</p>
        </td>
    </tr>
    }
</table>

@Html.Action("Index", "Products", new { CategoryId = Model.CategoryID })

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
